.img-article {
  width: 100%;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  h3 {
    font-family: "Open Sans", "Helvetica", "sans-serif";
    letter-spacing: 2px;
    font-weight: bolder;
  }
}

.content-article {
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 30px;
}
