.article-img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover !important;
  border: 10px solid #e8ecf0;
}

.content-article {
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 30px;
}

.title-article {
  font-weight: bolder;
  text-align: center;
}
