.title-contact {
  position: relative;
  width: 50%;
  margin: auto;
  h2 {
    color: #F5003E;
    font-family: 'Kaushan Script', cursive;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
  }
  img {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.wrapper-form {
  background: #e8ecf0;
  padding: 40px;
  padding-bottom: 130px;
  position: relative;
  h3 {
    font-weight: bolder;
    color: black;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

.form-horizontal {
  margin-top: 20px;
  input {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid #e8ecf0;
    outline: none;
    border-radius: 0px;
  }
  select {
    width: 90%;
    margin: auto;
    margin-bottom: 27px;
    margin-left: 15px;
    letter-spacing: 2px;
    font-family: 'Josefin Sans', sans-serif;
    height: 35px;
    padding-left: 6px;
    background: white;
    border: 1px solid #e8ecf0;
  }
  textarea {
    border: 1px solid #e8ecf0;
    letter-spacing: 2px;
    width: 70%;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
  }
  label {
    display: none;
  }
  input:focus {
    outline: none !important;
    border: 3px solid #fc9b00;
    box-shadow: none;
  }
  textarea:focus {
    outline: none !important;
    border: 3px solid #fc9b00;
    box-shadow: none;
  }
  select:focus {
    outline: none !important;
    border: 3px solid #fc9b00;
    box-shadow: none;
  }
  .help-block {
    display: none;
  }
  .has-error .form-control {
    border: 3px solid #fc9b00;
  }
}

.form-details {
  position: relative;
  p {
    position: absolute;
    top: -10px;
    right: 4%;
    color: gray;
  }
}


.width-button {
  margin: auto;
  width: 20%;
}

@media screen and (max-width: 700px) {
  .width-button {
  width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .width-button {
  width: 90%;
  }
}

.btn {
  background-color: #f5003e;
  border: 1px solid #f5003e;
  color: white;
  padding: 15px;
  text-align: center;
}

.btn:hover {
  background-color: white;
  color: black;
  border: 1px solid #f5003e;
}

.presta-icons {
  position: absolute;
  top: -30px;
  right: 0;
}

.datepicker {
  margin-top: 150px;
}


