.card-team {
  height: 600px;
  width: 100%;
}


.valeurs {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: black;
    font-size: 60px;
  }
  p {
    padding: 20px;
  }
}

.partners {
  p {
    width: 65%;
    margin-top: 20px;
  }
  img {
    margin-top: -20px;
  }
}


@media screen and (max-width: 723px) {
  .partners img {
  display: none;
  }
}
@media screen and (max-width: 723px) {
  .partners p {
  width: 100%;
  }
}
