.wrapper-blue {
  background: #f9f9f9;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.wrapper-white {
  background-repeat: no-repeat;
  background-position: right 0em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.valeurs {
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-bottom: 20px;
  position: relative;
  border: 8px solid #e8ecf0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  h2 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: black;
    background-color: #fc9b00;
    opacity: 0.8;
    padding: 10px;
    font-size: 20px;
    margin: 0px;
    color: white;
  }
}

.hover {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0;
  transition: opacity 0.4s ease;
  color: black;
  padding: 20px;
  background-color: white;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.valeurs:hover .hover {
  opacity: 0.9;
}

.text-partenaire {
  margin-bottom: 30px;
  p {
    width: 65%;
    margin-top: 20px;
    text-align: justify;
  }
}

@media screen and (max-width: 990px) {
  .text-partenaire p {
  width: 80%;
  margin: auto;
  }
}

.img-partenaires {
  width: 100%;
  height: 150px;
  background-position: center;
  background-size: cover !important;
  transition: opacity 0.4s ease;
  border: 4px solid white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.content-partenaires {
  color: inherit;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-bottom: 20px;
  h3 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
  }
  p {
    text-align: center;
  }
}


.team-name h3 {
  color: black;
  font-family: 'Kaushan Script', cursive;
}

.team-card {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  img {
    width: 200px;
    border-radius: 50%;
    border: 4px solid #e8ecf0;
  }
  p {
    font-size: 14px;
    text-align: left;
    text-align: center;
  }
  h3 {
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 20px;
    border-bottom: 3px solid #e8ecf0;
    padding-bottom: 10px;
  }
  h4 {
    font-family: 'Kaushan Script', cursive;
  }
  #contact-team {
    text-align: left;
    a {
      color: black;
    }
  }
}

.wrapper-team {
  background-position: top -200px center;
  background-repeat: no-repeat;
}
