/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
p {
  margin: 0 0 0px;
}

.banner {
  color: white;
  margin-top: 45px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  display: flex;
  align-items: center;
  padding-left: 120px;
  height: 80vh;
}
.banner h1 {
  font-weight: bold;
  text-shadow: 2px 1px rgba(0, 0, 0, 0.4);
  color: white;
  font-family: 'Kaushan Script', cursive;
  font-size: 70px;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.card-title {
  width: 100%;
  height: 170px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
  h4 {
    font-family: "Open Sans", "Helvetica", "sans-serif";
    letter-spacing: 2px;
    font-weight: bolder;
  }
}

.card-actu {
  width: 90%;
  margin: auto;
  position: relative;
  margin-bottom: 40px;
  border: 1px solid #e8ecf0;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  h4, p {
    color: #282828;
  }
  img {
    width: 100%;
  }
}

.card-content {
  padding: 12px;
}

.article-bottom img {
  width: 18%;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

