.carousel_wrapper {
  position: relative;
  z-index: -1;
  align-items: center;
  width: 100%;
    h1 {
    position: absolute;
    font-weight: bold;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.4);
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 70px;
    z-index: 1;
    top: 30vh;
    left: 10vh;
  }
}

@media screen and (max-width: 700px) {
  .carousel_wrapper h1 {
  text-align: center;
  left: 0px;
  right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .carousel_wrapper h1 {
  font-size: 40px;
  top: 40vh;
  }
}

.carousel {
  width: 100%;
  align-items: center;
  flex: 0 0 50%;
  position: relative;
  img {
    margin: auto;
  }
}

.carousel-indicators {
  position: absolute;
  bottom: 50px;
}

#myCarousel {
  width: 100%;
  height: 100vh;
  background-color: white;
  clear: left;
}

.item {
  color: white;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-fade {
  .carousel-inner {
    .item {
          transition-property: opacity;
        }

    .item,
    .active.left,
    .active.right {
       opacity: 0;
      }

    .active,
    .next.left,
    .prev.right {
        opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
    }
  }
}

.card-actu-top {
  width: 100%;
  margin: auto;
  position: relative;
  margin-bottom: 40px;
  border: 8px solid #e8ecf0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: white;
  height: 400px;
  display: flex;
  flex-flow: row;
  align-items: center;
  h4 {
    color: #282828;
    font-family: "Open Sans", "Helvetica", "sans-serif";
  }
  p {
    color: #282828;
  }
}

.card-img-top {
  flex: 0 0 70%;
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat;
  height: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.card-content-top {
  flex: 0 0 30%;
  padding: 20px;
}


@media screen and (max-width: 700px) {
  .card-actu-top {
  flex-flow: column;
  align-items: left;
  }
}

@media screen and (max-width: 700px) {
  .card-img-top {
  height: 200px;
  background-position: center;
  background-size: cover !important;
  width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .card-content-top {
  padding: 12px;
  height: 150px;
  h4 {
    font-weight: bold;
  }
  }
}

.card-actu {
  width: 100%;
  margin: auto;
  position: relative;
  margin-bottom: 40px;
  border: 8px solid #e8ecf0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: white;
  h4 {
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-weight: bold;
  }
  p {
    color: #282828;
  }
  img {
    width: 100%;
  }
}

.card-img {
  height: 200px;
  background-position: center;
  background-size: cover !important;
}

.card-content {
  padding: 12px;
  height: 150px;
  h4 {
    font-weight: bold;
  }
}

.article-bottom img {
  width: 60px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.btn-all-articles {
  padding: 10px;
  margin-bottom: 40px;
  display: inline-block;
  border: 8px solid #e8ecf0;
  margin: auto;
  background: white;
  margin-bottom: 40px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-weight: bold;
}

.btn-all-articles:hover {
  background: #F14D4D;
  color: white;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: white;
  opacity: 0;
}

.card-link:hover {
  opacity: 0.2;
}

.accroche {
  width: 70%;
  margin: auto;
  text-align: justify;
  margin-top: 40px;
  margin-bottom: 50px;
  border: 8px solid #fc9b00;
  padding: 30px;
  border-radius: 3px;
  font-family: 'Open Sans', 'Helvetica', 'sans-serif';
  font-weight: 400;
}
