.card {
  img {
    margin-bottom: 20px;
    height: 50px;
  }
  h5 {
    font-weight: bolder;
    color: black;
  }
  p {
    font-size: 14px;
  }
}

.map-container {
   display: flex;
   flex-flow: column;
   align-items: center;
   height: 200px;
}

#text-map {
  position: absolute;
  width: 715px;
  font-family: 'Kaushan Script', cursive;
  color: black;
}


@media screen and (max-width: 752px) {
  .map-container img {
  display: none;
  }
}

@media screen and (max-width: 752px) {
  #text-map {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 100%;
  text-align: center;
  }
}

.card-presta {
  width: 100%;
  margin: auto;
  border: 20px solid white;
  height: 200px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 2px 3px 4px rgba(0,0,0,0.3);
    .title-card-red {
    font-size: 18px;
    padding: 10px;
    margin: none;
    background: #F14D4D;
    position: absolute;
    bottom: 4px;
    left: 0px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.4);
  }
    .title-card-yellow {
    font-size: 18px;
    padding: 10px;
    margin: none;
    background: #f39500;
    position: absolute;
    bottom: 4px;
    left: 0px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.4);
  }
  button:focus {outline:0;}
}

.card-presta:hover {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
}

.cover-img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
  }
}

.cover-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modal-content {
  padding: 40px;
  border-radius: 2px;
  position: relative;
  padding-top: 100px;
  h4 {
    position: absolute;
    top: 20px;
    left: 15px;
    text-align: center;
    color: #f5003e;
    padding: 10px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    transform: rotate(-7deg);
    font-family: 'Kaushan Script', cursive;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.4);
  }
  li {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
  }
  button {
    position: absolute;
    top: 10px;
    right: 12px;
  }
}

.img-presta {
  width: 80%;
  margin: auto;
  margin-top: 35px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 30px;
  img {
    height: auto;
    width: auto;
    max-height: 180px;
  }
}

a {
  text-decoration: none;
}
