.card {
  img {
    margin-bottom: 20px;
    height: 50px;
  }
  h5 {
    font-weight: bolder;
    color: black;
  }
  p {
    font-size: 14px;
  }
}

.map-container {
   display: flex;
   flex-flow: column;
   align-items: center;
   height: 200px;
}

#text-map {
  position: absolute;
  width: 715px;
  font-family: 'Kaushan Script', cursive;
  color: black;
}


@media screen and (max-width: 752px) {
  .map-container img {
  display: none;
  }
}

@media screen and (max-width: 752px) {
  #text-map {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 100%;
  text-align: center;
  }
}

.card-presta {
  width: 100%;
  height: 200px;
  background-color: white;
  margin-bottom: 30px;
  position: relative;
}

.cover-img {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  button {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
  }
}

.cover-img h2 {
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: 'Kaushan Script', cursive;
}

.modal-content {
  padding: 40px;
  border-radius: 2px;
  position: relative;
  h4 {
    text-align: center;
    background-color: #f5003e;
    color: white;
    padding: 10px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  li {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
  }
  button {
    position: absolute;
    top: 10px;
    right: 12px;
  }
}
