<div class="wraper footer" style="background-color: #F14D4D;">
  <div class="container" style="color: white; padding: 20px; margin-bottom: 0px;">
    <div class="footer-content">
      <a href="/mentions" style="color: white; margin-right: 10px">Mentions Légales</a>
      -
      <a href="https://www.facebook.com/aperoboulot" style="color: white; margin-left: 10px;" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/aperoboulot/" style="color: white; margin-left: 10px;" target='_blank'><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="mailto:commande@aperoboulot.com" style="color: white; margin-left: 10px;"><i class="fa fa-envelope" aria-hidden="true"></i>
</a>
    </div>
  </div>
</div>
