<div class="wraper footer" style="background-color: #F5003E;">
  <div class="container" style="color: white; padding: 20px; margin-bottom: 0px;">
    <div class="footer-content">
      <p>Pour nous suivre:
      <a href="" style="color: white; margin-left: 10px;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="" style="color: white; margin-left: 10px;"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </p>
    </div>
  </div>
</div>
