<div class="navbar-wagon navbar-wagon-fixed">
  <div class="navbar-wagon-left navbar-wagon-link hidden-xs hidden-sm">
    <!-- Search form -->
    <a href="/" class="navbar-wagon-item navbar-wagon-link"><i class="fa fa-home" aria-hidden="true"></i></a>
    <a href="/equipe" class="navbar-wagon-item navbar-wagon-link"><strong>À propos</strong></a>
    <a href="/prestations" class="navbar-wagon-item navbar-wagon-link"><strong>Prestations</strong></a>
    <a href="/equipe/#contact" class="navbar-wagon-item navbar-wagon-link"><strong>Contact</strong></a>
  </div>

  <a href="/" class="navbar-wagon-brand">
    <%= cl_image_tag("logo_c17dhl.png") %>
  </a>


  <div class="navbar-wagon-right navbar-wagon-link hidden-xs hidden-sm">
    <a href="/contacts" style="text-decoration: none;">
    <strong>Demande de devis</strong>
    </a>
  </div>

  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/" class="navbar-wagon-item navbar-wagon-link"><strong>Accueil</strong></a></li>
        <li><a href="/prestations" class="navbar-wagon-item navbar-wagon-link"><strong>Préstations</strong></a></li>
        <li><a href="/equipe" class="navbar-wagon-item navbar-wagon-link"><strong>Equipe</strong></a></li>
        <li><a href="/contacts" class="navbar-wagon-item navbar-wagon-link"><strong>Demande Devis</strong></a></li>
      </ul>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="small-modal">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <h3>Mail</h3>
      <p><a href="mailto:charlotte@aperoboulot.com">charlotte@aperoboulot.com</a></p>
      <h3>Tél</h3>
      <p>06.34.59.12.07</p>
    </div>
  </div>
</div>
