<div class="wraper">
   <h2 class="title">NOTRE HISTOIRE</h2>
  <div class="wraper blue" style="background-image: url('<%= image_path('Path.png') %>');">
    <div class="text-right">
      <h2>AperO’ Boulot <br>c’est l’histoire d’une rencontre</h2>
      <p>Celle de deux jeunes femmes dynamiques et entrepreneures. AperO’ Boulot D’un côté, Charlotte avait eu la folle idée de faire de la livraison sportive de petits déjeuners bio sur son vélo triporteur. De l’autre côté, Juliette s’était lancée le défi de faire découvrir des petits vignerons en sélectionnant soigneusement et en livrant du vin aux particuliers. Au hasard d’une rencontre, elles se retrouvent autour d’un café et d’une passion commune : les bons produits du terroir. Elles dé- cident alors de créer un service clé-en-main de livraison et d’installation pour tous les événements gourmands d’entreprises à Paris.</p>
    </div>
  </div>
  <div class="wraper" >
    <div class="text-left">
      <h2>Entourée de producteurs issus de la filière agricole française</h2>
      <p>L’équipe d’AperO’ Boulot s’engage à vous faire redécouvrir les vraies saveurs des aliments lors d’évènements organisés en entre- prise. Au fil des demandes, nos services se sont diversifiés : petits déjeuners, déjeuners, pauses gourmandes, cocktails constituent la base de nos prestations. Attentifs à vos idées les plus originales, nous trouverons toujours la solution pour leur donner vie !</p>
      <h2>Deux ans après sa création, <br> AperO’ Boulot se lance un pari fou !</h2>
      <p>Celui d’ouvrir son propre laboratoire culinaire. Assurer un meil- leur suivi des approvisionnements et de l’ensemble de la chaîne de production ; vous garantir la qualité et la fraîcheur la plus opti- male des produits ; vous offrir une plus grande flexibilité ; sont autant d’objectifs que nous nous sommes fixés avec ce nouveau projet.</p>
    </div>
  </div>
</div>
