<div class="wraper">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 50%),  url('<%= image_path('banner.jpg') %>');">
    <div class="banner-content">
      <h1>C'est bon</h1>
      <h1>C'est frais</h1>
      <h1>Et c'est au boulot</h1>
    </div>
  </div>
</div>
