<div class="wrapper" style="background-color: #e8ecf0;">
  <div class="container container-mentions">
    <p>
    <strong>Mentions légales : www.aperoboulot.com</strong><br><br>

    La connexion au site www.aperoboulot.com (ci-après « le Site ») implique l’acceptation des mentions légales développées ci-dessous.<br><br>

    <strong>Éditeur du site</strong><br><br>

    Le Site est édité par la société J.E.G. (ci-après « la Société »), SAS au capital de 15 000 euros et domiciliée au 23 Avenue René Cassin à Lieusaint (77127).<br><br>

    La Société peut être contactée par téléphone au 06 80 99 20 31 ; ou par mail à juliette@aperoboulot.com.<br><br>

    La Société a fait l’objet d’une immatriculation au Registre du Commerce et des Sociétés sous le numéro 803 062 611 R.C.S. Melun.<br><br>

    La directrice de publication du Site est Charlotte Bonnet.<br><br>

    <strong>Hébergeur du site</strong><br><br>

    Le Site est hébergé par Heroku Inc dont le siège social se situe au 650 7th Street, San Francisco, CA (tel : +33 1 (877) 563-4311).<br><br>

    <strong>Collecte et utilisation des données personnelles</strong><br><br>

    Le Site a fait l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés – CNIL – sous le numéro 00000000<br><br>

    Les informations personnelles recueillies par le Site sont utilisées par la Société pour la collecte et l’utilisation de données personnelles. Ces données permettent à la Société<br>
    D’améliorer la gestion de sa clientèle<br>
    De réaliser de la prospection commerciale<br>
    De communiquer à sa clientèle des offres commerciales, des opérations de fidélisation et d’organiser des jeux concours ou autres opérations promotionnelles<br>
    D’élaborer des statistiques commerciales<br><br>

    Les personnes dont les données sont collectées peuvent exercer leur droit d’opposition auprès de Juliette Grout (juliette@aperoboulot.com) ou Charlotte Bonnet (charlotte@aperoboulot.com) en leur adressant un email avec leur requête. La Société dispose d’un délai de 2 mois pour répondre à cette demande.<br><br>

    <strong>Droits d’auteur et propriété intellectuelle</strong><br><br>

    Les contenus créatifs du Site (textes, photographies, éléments graphiques, vidéos, musiques) sont la propriété de la Société. Ils ne peuvent être utilisés par un tiers sans le consentement exprès de la Société.<br><br>

    <strong>Liens hypertextes</strong><br><br>

    L’éditeur du Site n’est pas responsable des contenus des autres sites vers lesquels le Site renvoie.
    </p>
  </div>
</div>
