<div class="wrapper" style="background-color: #e8ecf0;">
  <div class="container container-mentions">
    <p>
    <strong>Note sur les mentions légales</strong> <br><br>

    Les mentions légales doivent être propres à chaque site internet et ne peuvent donc pas être copiées/collées d’un autre site. <br><br>

    <strong>Elles doivent contenir</strong> <br><br>
    La dénomination de l’entreprise ou sa raison sociale : SAS J.E.G. <br>
    L’adresse du siège social : 23, Avenue René Cassin 77127 Lieusaint <br>
    Le numéro de téléphone : 06 80 99 20 31 <br>
    Le nom du directeur de publication* : <br>
    Le montant du capital social : 15 000 euros <br>
    Le numéro d’inscription au registre du commerce et des sociétés : 803 062 611 R.C.S. Melun <br>
    L’hébergement du site : nom, raison sociale, adresse, numéro de téléphone : Wix.com, 500 Terry A Francois Blvd., San Francisco, CA 94158, USA, +1 415-639-9034 <br><br>

    *Le(s) directeur(s) de publication sont responsables de tout le contenu présent sur le site y compris des commentaires, d’où l’intérêt de les modérer. <br>
    Lorsqu’il y a une utilisation régulière des liens hypertextes dans les contenus, il faut penser à ajouter un paragraphe de non-responsabilité du contenu présent sur ces sites liés. <br><br>

    <strong>Déclaration à la CNIL</strong> <br><br>
    Si le site collecte des informations, traite et fiche des données personnelles, il faut le déclarer à la CNIL. Une fois le numéro de déclaration obtenu, il faut le mentionner dans les mentions légales. <br><br>

    <strong>Autres mentions possibles</strong> <br><br>
    Le droit à l’image <br>
    Le numéro de déclaration à la CNIL <br>
    La politique de traitement des données recueillies via le site <br><br>

    <br>Mentions spéciales pour les sites de e-commerce <br>
    Les conditions générales de vente avec le délai de rétractation et de réclamation<br>
    Le délai moyen de livraison<br>
    Les conditions de remboursement<br><br>

    <strong>Collecte et utilisation des données personnelles</strong><br><br>

    Préciser à quoi ces données vont nous servir : gestion de la clientèle, amélioration des relations avec la clientèle, offres commerciales<br>
    Préciser la procédure d’exercice des droits des personnes concernées (où, comment et à qui s’adresser). Le responsable du fichier dispose d’un délai de 2 mois pour répondre.<br><br>

    <strong>Identité du responsable du fichier</strong><br><br>
    Finalité du fichier<br>
    Caractère obligatoire ou facultatif des réponses et des conséquences d’un défaut de réponse<br>
    Les destinataires des données<br>
    Leurs droits (droit d’accès, de rectification et d’opposition)<br>
    Les éventuels transferts de données vers des pays hors UE<br><br>

    <strong>Mentions légales : www.aperoboulot.com</strong><br><br>

    La connexion au site www.aperoboulot.com (ci-après « le Site ») implique l’acceptation des mentions légales développées ci-dessous.<br><br>

    <strong>Éditeur du site</strong><br><br>

    Le Site est édité par la société J.E.G. (ci-après « la Société »), SAS au capital de 15 000 euros et domiciliée au 23 Avenue René Cassin à Lieusaint (77127).<br><br>

    La Société peut être contactée par téléphone au 06 80 99 20 31 ; ou par mail à juliette@aperoboulot.com.<br><br>

    La Société a fait l’objet d’une immatriculation au Registre du Commerce et des Sociétés sous le numéro 803 062 611 R.C.S. Melun.<br><br>

    La directrice de publication du Site est Charlotte Bonnet.<br><br>

    <strong>Hébergeur du site</strong><br><br>

    Le Site est hébergé par Wix.com dont le siège social se situe au 500 Terry A Francois Blvd., San Francisco, CA 94158, USA, (+1 415-639-9034)<br><br>

    <strong>Collecte et utilisation des données personnelles</strong><br><br>

    Le Site a fait l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés – CNIL – sous le numéro 00000000<br><br>

    Les informations personnelles recueillies par le Site sont utilisées par la Société pour la collecte et l’utilisation de données personnelles. Ces données permettent à la Société<br>
    D’améliorer la gestion de sa clientèle<br>
    De réaliser de la prospection commerciale<br>
    De communiquer à sa clientèle des offres commerciales, des opérations de fidélisation et d’organiser des jeux concours ou autres opérations promotionnelles<br>
    D’élaborer des statistiques commerciales<br><br>

    Les personnes dont les données sont collectées peuvent exercer leur droit d’opposition auprès de Juliette Grout (juliette@aperoboulot.com) ou Charlotte Bonnet (charlotte@aperoboulot.com) en leur adressant un email avec leur requête. La Société dispose d’un délai de 2 mois pour répondre à cette demande.<br><br>

    <strong>Droits d’auteur et propriété intellectuelle</strong><br><br>

    Les contenus créatifs du Site (textes, photographies, éléments graphiques, vidéos, musiques) sont la propriété de la Société. Ils ne peuvent être utilisés par un tiers sans le consentement exprès de la Société.<br><br>

    <strong>Liens hypertextes</strong><br><br>

    L’éditeur du Site n’est pas responsable des contenus des autres sites vers lesquels le Site renvoie.
    </p>
  </div>
</div>
