<div class="wrapper" style="background: #f8f8f8;">
 <div class="container" style="margin-top: 60px;">
    <div class="article-title">
      <h1>L'offre du mois</h1>
    </div>
    <div class="row">
    <div class="col-md-8">
      <div class="background-article">
        <div class="content-article">
          <p>Chaque mois, Apéro Boulot vous propose son offre du mois s'inspirant de la saison et de la météo ! <br>
          <strong>Profitez-en</strong> !
          </p>
          <div class="devis">
            <p><strong>Découvrez notre devis <br> <span style="text-decoration: underline;">Cliquez ici <i class="far fa-arrow-alt-circle-right"></i></span></strong></p>
            <a href="http://res.cloudinary.com/apero-boulot/image/upload/v1524646442/DEVIS_PAQUES_-_Base_30_igsnt2.png" class="thumbnail">
              <%= cl_image_tag("DEVIS_PAQUES_-_Base_30_igsnt2.png")  %>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="background-article">
        <div class="link-article">
          <p><strong>L'offre du moment vous intéresse?<br>Écrivez nous ici ! </strong></p>
          <a href="mailto:commande@aperoboulot.com?subject=Demande Offre Du Moment">Nous écrire</a>
        </div>
      </div>
      <div class="article-img" style="background-image: url('<%= cl_image_path("o6w7s34lctuizerif6wg.jpg") %>')"></div>
    </div>
  </div>
 </div>
</div>
