<div class="wrapper" style="background: #f8f8f8;">
 <div class="container" style="margin-top: 60px;">
    <div class="article-title">
      <h1>L'offre du mois</h1>
    </div>
    <div class="row">
    <div class="col-md-8">
      <div class="background-article">
        <div class="content-article">
          <p>Chaque mois, Apéro Boulot vous propose son offre du mois s'inspirant de la saison et de la météo ! <br>
          <strong>Profitez-en</strong> !
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="background-article">
        <div class="link-article">
          <p><strong>L'offre du moment vous intéresse?<br>Écrivez nous ici ! </strong></p>
          <a href="mailto:commande@aperoboulot.com?subject=Demande Offre Du Moment">Nous écrire</a>
        </div>
      </div>
      <div class="article-img" style="background-image: url('<%= cl_image_path("odm_u3trnu.png") %>')"></div>
    </div>
  </div>
 </div>
</div>
