/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.blue {
  background: #e8ecf0;
  margin-top: 30px;
}

.fixed {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  img {
    position: absolute;
    top: 0px;
  }
}

.text-right {
  h2 {
  font-family: 'Kaushan Script', cursive;
  color: black
  }
  margin-left: 40px;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: 90%;
}

@media screen and (max-width: 1000px) {
  .line-orange {
  position: absolute;
  opacity: 0.6;
  }
}

.orange {
  background: #f39500;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

p {
  letter-spacing: 2px;
}

h5 {
  letter-spacing: 3px;
}
