/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

#page {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-image: url("loading.gif");
    background-repeat: no-repeat;
    background-position: center;
}

p, h4, h5 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  line-height: 140%;
  font-size: 17px;
}

h4, h5 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
}

// Paddings
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.wrapper {
  background-position: center;
}

.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.white {
  background-repeat: no-repeat;
  background-position: 0px -15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.orange {
  background: #f39500;
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-right {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 120px;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  width: 60%;
  position: relative;
  h2 {
  font-family: 'Kaushan Script', cursive;
  color: black;
  margin-bottom: 25px;
  }
}

.text-left {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 50px;
  width: 60%;
  h2 {
  font-family: 'Kaushan Script', cursive;
  color: black;
  margin-bottom: 25px;
  }
}


.form {
  width: 70%;
  margin: auto;
  input {
    border-radius: 25px;
  font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 3px;
    line-height: 140%;
    font-size: 17px;
  }
  label {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .text-right {
  margin: auto;
  width: 85%;
  margin-top: 40px;
  margin-bottom: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .text-left {
  margin: auto;
  width: 85%;
  }
}

 body {
    padding-top: 45px;
  }

