

.title {
  margin-top: 130px;
  margin-bottom: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.1);
  font-weight: bolder;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
  font-family: "stratos","ge-dinar-one","Helvetica Neue",Helvetica,Arial,"Microsoft YaHei","微软雅黑体","Hiragino Sans GB","冬青黑体",sans-serif;
}

.title1 {
  margin-top: 40px;
  font-size: 40px;

  color: #2e3333;
  margin-bottom: 20px;
  font-weight: 400px;
  font-family: "stratos","ge-dinar-one","Helvetica Neue",Helvetica,Arial,"Microsoft YaHei","微软雅黑体","Hiragino Sans GB","冬青黑体",sans-serif;
}

.title3 {
  text-align: center;
  color: #F5003E;
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 40px;
  font-family: "stratos","ge-dinar-one","Helvetica Neue",Helvetica,Arial,"Microsoft YaHei","微软雅黑体","Hiragino Sans GB","冬青黑体",sans-serif;
}

.title2 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
  font-weight: bolder;
  font-size: 25px;
  font-family: "stratos","ge-dinar-one","Helvetica Neue",Helvetica,Arial,"Microsoft YaHei","微软雅黑体","Hiragino Sans GB","冬青黑体",sans-serif;
}
