

.title {
  margin-top: 130px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
  color: #F5003E;
  font-weight: bolder;
  font-size: 25px;
}

.title1 {
  margin-top: 40px;
  text-align: center;
  letter-spacing: 2px;
  color: #F5003E;
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 20px;
}

.title2 {
  margin-top: 40px;
    margin-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
  color: black;
  font-weight: bolder;
  font-size: 25px;

}
