.color_black {
  color: #111111;
}

.title {
  margin-top: 40px;
  font-size: 40px;
  color: #111111;
  margin-bottom: 20px;
  font-weight: 10px;
  letter-spacing: 2px;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  box-sizing: inherit;
}

.title:after {
  content: "";
  display: block;
  background: #fdf18d;
  height: 16px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 8px;
  z-index: -1;
}

.title-top {
  margin-top: 90px;
  font-size: 40px;
  color: #111111;
  margin-bottom: 20px;
  font-weight: 10px;
  letter-spacing: 2px;
  font-family: 'Josefin Sans', sans-serif;
}
